In [1]:
print("Hello")

Hello

In [3]:
import keyword
print(len(keyword.kwlist))

35

In [2]:
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [3]:
for a in range(10):
    if a>4:
        print(a)

5
6
7
8
9

In [4]:
a=[[1,2,3],[1,3,4]]
print(a)

[[1, 2, 3], [1, 3, 4]]

In [5]:
b=[1+3,"a"*5,3]
print(b)

[4, 'aaaaa', 3]

In [6]:
y = 10 - 3 + 9 * 8 / 5 
print(y)

21.4

In [7]:
x = (100+3) * 2 + 3 / 5 
print(x)

206.6

In [8]:
fruit = "Apple"
condition1 = "good" 
condition2 = "health"
a=fruit+"\tis\t"+condition1+"\tfor\t"+condition2
print(a)

Apple	is	good	for	health

In [9]:
my_word = "A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument."
print(my_word)

A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

In [10]:
print(my_word.startswith("paragaph"))

False

In [11]:
name="Hong"
if name=="Bisak" or name=="valerie":
    print("My name is either David or Valerie")
else:
    print("Either one of my name")

Either one of my name

In [12]:
a=1/2
b=2/3
c=3/4
d=4/5

if(a>b):
    print("a is greater than b")
if(b>c):
    print("b is greater than c")
if(c>d):
    print("c is greater than d")
if a<b and b<c and c<d:
    print("a smallest number")

a smallest number

In [13]:
a=['foo','bar','baz','qux','corge']
while a:
    if len(a)<3:
        break
    print(a.pop())
print('Done')

corge
qux
baz
Done

In [14]:
error=50
while error>1:
    error=error/4
    print(error)

12.5
3.125
0.78125

In [15]:
print("heo")

heo

In [16]:
print(my_word.startswith("paragaph"))

False

In [17]:
print(my_word[2:11])

paragraph

In [18]:
print(my_word[2:11].upper())

PARAGRAPH

In [19]:
numbers=[2,3,4,5,6]
total=0

for num in numbers:
    total=total+num
print("total number is",total)

total number is 20

In [20]:
class Parrot:
    species= "bird"
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [21]:
class Parrot:
# class attribute
    species = "bird"
# instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age
# instantiate the Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)
# access the class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))
# access the instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [22]:
class Parrot:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def sing(self, song):
        return "{} sings {}".format(self.name, song)
    def dance(self):
        return "{} is now dancing".format(self.name)
blu=Parrot("chanto",20)

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

chanto sings 'Happy'
chanto is now dancing

In [23]:
class Parrot:
# instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
# instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)
    def dance(self):
        return "{} is now dancing".format(self.name)
# instantiate the object
blu = Parrot("Blu", 10)
# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

In [24]:
class Bird:
    def __init__(self):
        print("Bird is ready")
    def whoisThis(self):
        print("Bird")
    def swim(self):
        print("Swim faster")
# child class
class Penguin(Bird):
    def __init__(self):
# call super() function
        super().__init__()
        print("Penguin is ready")
    def whoisThis(self):
        print("Penguin")
    def run(self):
        print("Run faster")
peggy = Penguin()
peggy.whoisThis()

Bird is ready
Penguin is ready
Penguin

In [25]:
class Dog:
    
    def __init__(self, color, legs):
        self.color= color
        self.legs= legs

bb = Dog("White", 4)
print(bb.color)

White

In [26]:
class Animal:
    def __init__(self, name, color):
        self.name=name
        self.color=color

class Cat(Animal):
    def purr(self):
        print(Cat.purr('3'))

In [27]:
num1=20
num2=30
sum=num1+num2
print('the sum of {0} and {1} is {2}',sum)

the sum of {0} and {1} is {2} 50

In [28]:
num1=input("Enther the number1")
num2=input("Enther the number2")

sum=float(num1)+float(num2)
print('the sum of {0} and {1} is {2}',sum)

Enther the number15.5
Enther the number24.6
the sum of {0} and {1} is {2} 10.1

num=9
square_root=num**0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

In [29]:
num=9 
num_sqrt=num**0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 9.000 is 3.000

In [30]:
a=float(input("Enter number a\n"))
b=float(input("Enter number b\n"))
c=float(input("Enter numb c\n"))

s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('the area of rectangle %0.2f'%area)

Enter number a
5
Enter number b
7
Enter numb c
8
the area of rectangle 17.32

In [31]:
# Python Program to find the area of triangle

#a = 5
#b = 6
#c = 7

# Uncomment below to take inputs from the user
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f'%area)

Enter first side: 6.5
Enter second side: 6.3
Enter third side: 8.1
The area of the triangle is 20.06

In [32]:
import cmath

a=1
b=2
c=3

d=(b**2)-(4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('the solution are {0} and {1}'.format(sol1,sol2))

the solution are (-1-1.4142135623730951j) and (-1+1.4142135623730951j)

In [33]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [34]:
a=9
b=4

temp=a
a=b
b=temp

print('The value of x after swapping: {}'.format(a))
print('The value of y after swapping: {}'.format(b))

The value of x after swapping: 4
The value of y after swapping: 9

In [35]:
n=50
sum=0
i=1

while i<=n:
    sum=sum+i
    i=i+1
print("total", sum)

total 1275

In [36]:
for val in "string":
    if val == "n":
        continue
    print(val)

print("The end")

s
t
r
i
g
The end

In [37]:
def greet():
    print("hello")
    print("what is your name")
greet()

hello
what is your name

In [38]:
def greet(name):
    print("heemloo",name)
greet('chanto')

heemloo chanto

In [39]:
def add(n1,n2):
    sum=n1+n2
    return sum

result=add(4,0)
print(result)

4

In [40]:
def greet(*names):
    for name in names:
        print("Hello", name)
greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [41]:
def factorial(x):
    
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 7
print("The factorial of", num, "is", factorial(num))

The factorial of 7 is 5040

In [42]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [43]:
larger=lambda a,b:a if a>b else b
larger(0,7)

7

In [44]:
double = lambda x: x * 2

print(double(5))

10

In [45]:
def outer():
    x = "local"

    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)

    inner()
    print("outer:", x)


outer()

inner: nonlocal
outer: nonlocal

In [46]:
lists=['a','b','c']
for lan in lists:
    print(lan)

a
b
c

In [47]:
lists.insert(1,"d")
print(lists)

['a', 'd', 'b', 'c']

In [48]:
number1={2,4,5,6}
number2={4,5,3,2}
number1.update(number2)
print(number1)

{2, 3, 4, 5, 6}

In [49]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A & B)

{4, 5}

In [50]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [51]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [52]:
class Student:
    def check_pass_fail(self):
        if self.marks>=40:
            return True
        else:
            return False
    
student1=Student()
student1.name="Harry"
student1.marks=85
did_pass=student1.check_pass_fail()
print(did_pass)

student2=Student()
student2.name="Janet"
student2.marks=30
did_fail=student2.check_pass_fail()
print(did_fail)

True
False

In [53]:
class Student:
    def check_pass_fail(self):
        if self.marks>=40:
            return True
        else:
            return False
        
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
    
student1=Student("Harry",9)
student2=Student("Janet",90)
did_pass=student1.check_pass_fail()
print(did_pass)
did_fail=student2.check_pass_fail()
print(did_fail)

False
True

In [54]:
class Complex:
    def __init__(self,real,imag):
        self.real= real
        self.imag= imag
        
    def add(self, number):
        real=self.real + number.real
        imag=self.imag + number.imag
        result=Complex(real, imag)
        return result
    
n1=Complex(5,6)
n2=Complex(-4,2)
result=n1.add(n2)
print("real=",result.real)
print("imag=",result.imag)

real= 1
imag= 8

In [55]:
from datetime import date

f_date=date(2014,7,2)
l_date=date(2014,7,11)
delta=l_date-f_date
print(delta.days)

9

In [56]:
def difference(n):
    if n<=17:
        return 17-n
    else:
        return (n-17)*2
    
print(difference(22))
print(difference(14))

10
3

In [57]:
def near_thousand(n):
    return ((abs(1000-n)<=100) or (abs(2000-n)<=100))
print(near_thousand(800))

False

In [58]:
def sum_thrice(x,y,z):
    sum=x+y+z
    
    if x==y==z:
        sum=sum*3
        return sum
print(sum_thrice(1,2,3))
print(sum_thrice(4,4,4))

None
36

In [59]:
def new_string(str):
    if len(str)>=2 and str[:2]=="Is":
        return str
    return "Is"+str

print(new_string("I"))
print(new_string("I"))

IsI
IsI

In [60]:
def larger_string(str,n):
    result=" "
    for i in range(n):
        result=result+str
    return result
print(larger_string(".tito",3))

 .tito.tito.tito

In [61]:
number=int(input("Enter the number :"))


if number%2==0:
    print("this is even number")
else:
    print("this is odd number")

Enter the number :67
this is odd number

In [62]:
def list_count_4(nums):
    count=0
    for num in nums:
        if num==4:
            count=count+1
    return count
print(list_count_4([4,4,4,4]))

4

In [63]:
def is_vowel(char):
    all_vowels='aeiou'
    return char in all_vowels
print(is_vowel('a'))
print(is_vowel('u'))

True
True

In [64]:
def number(numbers,n):
    for value in numbers:
        if n==value:
            return True
    return False
print(number([1,5,3,7],7))
print(number([-4,-2,5,3],0))

True
False

In [65]:
def histogram(items):
    for n in items:
        output=''
        times=n
        while(times>0):
            output+='*'
            times=times-1
        print(output)
histogram([1,2,3,4,5,6,7])

*
**
***
****
*****
******
*******

In [66]:
def add_elements(list):
    result=''
    for elements in list:
        result+=str(elements)
    return result
print(add_elements([1,4,5,7,6,7,8]))

1457678

In [67]:
color_1=set(["white","black","red"])
color_2=set(["red","green"])
print(color_2.difference(color_1))

{'green'}

In [68]:
a=float(input("Input the base:"))
b=float(input("Input the height:"))
area=a*b/2
print("area=",area)

Input the base:5
Input the height:8
area= 20.0

In [69]:
def gcd(x,y):
    gcd=1
    
    if x%y==0:
        return y
    
    for k in range(int(y/2),0,-1):
        if x%k==0 and y%k==0:
            gcd=k
            break 
    return gcd
print(gcd(100,36))

4

In [70]:
def personal_details():
    name,age="chanto",30
    address="Bangalore ,kanataka,India"
    print("Name: {}\nAge: {}\nAddress:{}".format(name,age,address))
    
personal_details()

Name: chanto
Age: 30
Address:Bangalore ,kanataka,India

In [71]:
x,y=5,6
result=x*x+2*x*y+y*y
print("({}+{})^2)={}".format(x,y,result))

(5+6)^2)=121

In [72]:
amt=10000
int=3.5
years=7

future_value=amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

12722.79

In [73]:
import math

x1=[5, 6]
y1=[2, 1]

distance=math.sqrt(((x1[0]-y1[0])**2)+((x1[1]-y1[1])**2))
print(distance)

5.830951894845301

In [74]:
import os.path

open('abc.txt','w')
print(os.path.isfile('abc.txt'))

True

In [75]:
x=5245 //1000
x1=(5245-x*1000)//100
x2=(5245-x*1000-x1*100)//10
x3=5245-x*1000-x1*100-x2*10
print("The sum of digits in the numbers is",x+x1+x2+x3)

The sum of digits in the numbers is 16

In [76]:
x  = 5245//1000
x1 = (5245 - x*1000)//100
x2 = (5245 - x*1000 - x1*100)//10
x3 = 5245 - x*1000 - x1*100 - x2*10
print("The sum of digits in the number is", x+x1+x2+x3)

The sum of digits in the number is 16

In [77]:
numbers=float(input("Input a number"))
if numbers>0:
    print("It is positive number")
elif numbers==0:
    print("It is Zero")
else:
    print("It is a negative number")

Input a number7
It is positive number

In [78]:
nums=[34,1,0,25]
print("original numbers in the lists:",nums)
new_nums=list(filter(lambda y: y>=0 ,nums))
print("Posotive numbers in the list:",new_nums)

original numbers in the lists: [34, 1, 0, 25]
Posotive numbers in the list: [34, 1, 0, 25]

In [79]:
def test_distinct(data):
    if len(data)== len(set(data)):
        return True
    else:
        return False;
print(test_distinct([1,4,5,6]))
print(test_distinct([4,5,5,6,4,9]))

True
False

In [80]:
import random

char_list=['a','e','i','o','u']
random.shuffle(char_list)
print(''.join(char_list))

oiuae

In [81]:
import bs4
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen

news_url="https://news.google.com/news/rss"
Client=urlopen(news_url)
xml_page=Client.read()
Client.close()

soup_page=soup(xml_page,"xml")
news_list=soup_page.findAll("item")
# Print news title, url and publish date
for news in news_list:
  print(news.title.text)
  print(news.link.text)
  print(news.pubDate.text)
  print("-"*60)

Texas Democrats Walk Out, Stop Republican's Sweeping Voting Restrictions - NPR
https://news.google.com/__i/rss/rd/articles/CBMicGh0dHBzOi8vd3d3Lm5wci5vcmcvMjAyMS8wNS8zMS8xMDAxODExOTE5L3RleGFzLWRlbW9jcmF0cy13YWxrLW91dC1zdG9wLXJlcHVibGljYW5zLXN3ZWVwaW5nLXZvdGluZy1yZXN0cmljdGlvbnPSAQA?oc=5
Mon, 31 May 2021 06:09:00 GMT
------------------------------------------------------------
China Announces a Three-Child Policy - The New York Times
https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMjEvMDUvMzEvd29ybGQvYXNpYS9jaGluYS10aHJlZS1jaGlsZC1wb2xpY3kuaHRtbNIBT2h0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMjEvMDUvMzEvd29ybGQvYXNpYS9jaGluYS10aHJlZS1jaGlsZC1wb2xpY3kuYW1wLmh0bWw?oc=5
Mon, 31 May 2021 08:31:23 GMT
------------------------------------------------------------
Israel coalition government a threat to security, warns Netanyahu - BBC News
https://news.google.com/__i/rss/rd/articles/CBMiM2h0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy93b3JsZC1taWRkbGUtZWFzdC01NzMwMjgxNNIBN2h0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy93b3JsZC1taWRkbGUtZWFzdC01NzMwMjgxNC5hbXA?oc=5
Mon, 31 May 2021 08:31:23 GMT
------------------------------------------------------------
‘Worst phone call of my life’: Mother of Miami banquet hall shooting victim speaks out - Fox News
https://news.google.com/__i/rss/rd/articles/CBMibmh0dHBzOi8vd3d3LmZveG5ld3MuY29tL3VzL3dvcnN0LXBob25lLWNhbGwtb2YtbXktbGlmZS1tb3RoZXItb2YtbWlhbWktYmFucXVldC1oYWxsLXNob290aW5nLXZpY3RpbS1zcGVha3Mtb3V00gFyaHR0cHM6Ly93d3cuZm94bmV3cy5jb20vdXMvd29yc3QtcGhvbmUtY2FsbC1vZi1teS1saWZlLW1vdGhlci1vZi1taWFtaS1iYW5xdWV0LWhhbGwtc2hvb3RpbmctdmljdGltLXNwZWFrcy1vdXQuYW1w?oc=5
Mon, 31 May 2021 00:35:13 GMT
------------------------------------------------------------
Tulsa churches honor 'holy ground' 100 years after massacre - POLITICO
https://news.google.com/__i/rss/rd/articles/CBMiW2h0dHBzOi8vd3d3LnBvbGl0aWNvLmNvbS9uZXdzLzIwMjEvMDUvMzAvdHVsc2Etb2tsYWhvbWEtbWFzc2FjcmUtY2VudGVubmlhbC1jaHVyY2hlcy00OTE0NDfSAQA?oc=5
Sun, 30 May 2021 22:53:52 GMT
------------------------------------------------------------
For Biden, a deeply personal Memorial Day weekend observance - The Associated Press
https://news.google.com/__i/rss/rd/articles/CBMie2h0dHBzOi8vYXBuZXdzLmNvbS9hcnRpY2xlL2RvbmFsZC10cnVtcC1oZWFsdGgtY29yb25hdmlydXMtcGFuZGVtaWMtbGlmZXN0eWxlLW1lbW9yaWFsLWRheS1jMzg4NmRlZjgxZjc4Yzc2MmZkMWU5MjAxNDhlZjMyYdIBAA?oc=5
Sun, 30 May 2021 19:25:24 GMT
------------------------------------------------------------
Brentwood church releases official statement following deadly plane crash - WKRN News 2
https://news.google.com/__i/rss/rd/articles/CBMib2h0dHBzOi8vd3d3Lndrcm4uY29tL25ld3MvbG9jYWwtbmV3cy9icmVudHdvb2QtY2h1cmNoLXJlbGVhc2VzLW9mZmljaWFsLXN0YXRlbWVudC1mb2xsb3dpbmctZGVhZGx5LXBsYW5lLWNyYXNoL9IBc2h0dHBzOi8vd3d3Lndrcm4uY29tL25ld3MvbG9jYWwtbmV3cy9icmVudHdvb2QtY2h1cmNoLXJlbGVhc2VzLW9mZmljaWFsLXN0YXRlbWVudC1mb2xsb3dpbmctZGVhZGx5LXBsYW5lLWNyYXNoL2FtcC8?oc=5
Sun, 30 May 2021 23:21:02 GMT
------------------------------------------------------------
'Tarzan' TV series actor among 7 plane crash victims in Tennessee - 10TV
https://news.google.com/__i/rss/rd/articles/CBMif2h0dHA6Ly93d3cuMTB0di5jb20vYXJ0aWNsZS9uZXdzL25hdGlvbi13b3JsZC90ZW5uZXNzZWUtcGxhbmUtY3Jhc2gtdmljdGltcy1pZGVudGlmaWVkLzUwNy1kZjc2NDg4OS1kYmFmLTQ0NmUtOThiOS1jNjBhNWE5MGVkZWHSAYQBaHR0cHM6Ly93d3cuMTB0di5jb20vYW1wL2FydGljbGUvbmV3cy9uYXRpb24td29ybGQvdGVubmVzc2VlLXBsYW5lLWNyYXNoLXZpY3RpbXMtaWRlbnRpZmllZC81MDctZGY3NjQ4ODktZGJhZi00NDZlLTk4YjktYzYwYTVhOTBlZGVh?oc=5
Sun, 30 May 2021 20:11:00 GMT
------------------------------------------------------------
Alabama family's vehicle plunges into lake; at least 4 killed, including 2 kids: report - Fox News
https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vd3d3LmZveG5ld3MuY29tL3VzL2FsYWJhbWEtZmFtaWx5LXZlaGljbGUtbGFrZS00LWtpbGxlZC1raWRzLXJlcG9ydNIBT2h0dHBzOi8vd3d3LmZveG5ld3MuY29tL3VzL2FsYWJhbWEtZmFtaWx5LXZlaGljbGUtbGFrZS00LWtpbGxlZC1raWRzLXJlcG9ydC5hbXA?oc=5
Mon, 31 May 2021 07:00:53 GMT
------------------------------------------------------------
VTA light rail service suspended until further notice, buses running along routes - SFGate
https://news.google.com/__i/rss/rd/articles/CBMiZ2h0dHBzOi8vd3d3LnNmZ2F0ZS5jb20vbmV3cy9iYXlhcmVhL2FydGljbGUvVnRhLUxpZ2h0LVJhaWwtU2VydmljZS1TdXNwZW5kZWQtVW50aWwtRnVydGhlci0xNjIxNDA0MC5waHDSAQA?oc=5
Mon, 31 May 2021 01:27:13 GMT
------------------------------------------------------------
After 215 bodies found at school site, Canada requests flags lowered - 9News.com KUSA
https://news.google.com/__i/rss/rd/articles/CBMirAFodHRwOi8vd3d3LjluZXdzLmNvbS9hcnRpY2xlL25ld3MvbmF0aW9uLXdvcmxkLzIxNS1ib2RpZXMtZm91bmQtYXQtaW5kaWdlbm91cy1yZXNpZGVudGlhbC1zY2hvb2wtc2l0ZS1jYW5hZGEtcmVxdWVzdHMtZmxhZ3MtbG93ZXJlZC81MDctMjQ4Njc3OWEtOTYzMC00MDY3LWJkYjYtNDNjMmFjNjRiZDQ10gGxAWh0dHBzOi8vd3d3LjluZXdzLmNvbS9hbXAvYXJ0aWNsZS9uZXdzL25hdGlvbi13b3JsZC8yMTUtYm9kaWVzLWZvdW5kLWF0LWluZGlnZW5vdXMtcmVzaWRlbnRpYWwtc2Nob29sLXNpdGUtY2FuYWRhLXJlcXVlc3RzLWZsYWdzLWxvd2VyZWQvNTA3LTI0ODY3NzlhLTk2MzAtNDA2Ny1iZGI2LTQzYzJhYzY0YmQ0NQ?oc=5
Sun, 30 May 2021 22:08:00 GMT
------------------------------------------------------------
Mohammed Deif: The one-eyed Hamas chief in Israel's crosshairs - BBC News
https://news.google.com/__i/rss/rd/articles/CBMiM2h0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy93b3JsZC1taWRkbGUtZWFzdC01NzI1MzUyMdIBN2h0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy93b3JsZC1taWRkbGUtZWFzdC01NzI1MzUyMS5hbXA?oc=5
Sun, 30 May 2021 23:09:01 GMT
------------------------------------------------------------
Vietnam detects a suspected new coronavirus variant that's a hybrid of the UK and India strains - CNN
https://news.google.com/__i/rss/rd/articles/CBMiU2h0dHBzOi8vd3d3LmNubi5jb20vMjAyMS8wNS8zMS9hc2lhL3ZpZXRuYW0tY29yb25hdmlydXMtdmFyaWFudC1pbnRsLWhuay9pbmRleC5odG1s0gFXaHR0cHM6Ly9hbXAuY25uLmNvbS9jbm4vMjAyMS8wNS8zMS9hc2lhL3ZpZXRuYW0tY29yb25hdmlydXMtdmFyaWFudC1pbnRsLWhuay9pbmRleC5odG1s?oc=5
Mon, 31 May 2021 06:58:00 GMT
------------------------------------------------------------
New wedding photos show Boris Johnson and new bride Carrie Symonds - New York Post
https://news.google.com/__i/rss/rd/articles/CBMiXWh0dHBzOi8vbnlwb3N0LmNvbS8yMDIxLzA1LzMwL3dlZGRpbmctcGhvdG9zLXNob3ctYm9yaXMtam9obnNvbi1hbmQtbmV3LWJyaWRlLWNhcnJpZS1zeW1vbmRzL9IBYWh0dHBzOi8vbnlwb3N0LmNvbS8yMDIxLzA1LzMwL3dlZGRpbmctcGhvdG9zLXNob3ctYm9yaXMtam9obnNvbi1hbmQtbmV3LWJyaWRlLWNhcnJpZS1zeW1vbmRzL2FtcC8?oc=5
Sun, 30 May 2021 18:56:00 GMT
------------------------------------------------------------
Johnson & Johnson asks high court to void $2B talc verdict - The Associated Press
https://news.google.com/__i/rss/rd/articles/CBMigwFodHRwczovL2FwbmV3cy5jb20vYXJ0aWNsZS9uai1zdGF0ZS13aXJlLWpvaG5zb24tYW5kLWpvaG5zb24tdXMtc3VwcmVtZS1jb3VydC1taWNoYWVsLWJyb3duLWNvdXJ0cy0zN2ViODAxOTNiZDA0MTI4Njg2NDM5MmE3NjRhMjA2ONIBAA?oc=5
Mon, 31 May 2021 05:39:51 GMT
------------------------------------------------------------
Intel reiterates chip supply shortages could last several years - Reuters
https://news.google.com/__i/rss/rd/articles/CBMibmh0dHBzOi8vd3d3LnJldXRlcnMuY29tL3RlY2hub2xvZ3kvaW50ZWwtcmVpdGVyYXRlcy1jaGlwLXN1cHBseS1zaG9ydGFnZXMtY291bGQtbGFzdC1zZXZlcmFsLXllYXJzLTIwMjEtMDUtMzEv0gEA?oc=5
Mon, 31 May 2021 04:47:00 GMT
------------------------------------------------------------
Stock Market Today: Dow, S&P Live Updates for May 31 - Bloomberg
https://news.google.com/__i/rss/rd/articles/CBMicWh0dHBzOi8vd3d3LmJsb29tYmVyZy5jb20vbmV3cy9hcnRpY2xlcy8yMDIxLTA1LTMwL2FzaWEtc3RvY2tzLWV5ZS1tdXRlZC1zdGFydC10by13ZWVrLWRvbGxhci1zdGVhZHktbWFya2V0cy13cmFw0gEA?oc=5
Sun, 30 May 2021 21:14:46 GMT
------------------------------------------------------------
Bitcoin is headed toward its worst month since 2011; 'Rich Dad, Poor Dad' author says that's 'great news' - MarketWatch
https://news.google.com/__i/rss/rd/articles/CBMikAFodHRwczovL3d3dy5tYXJrZXR3YXRjaC5jb20vc3RvcnkvYml0Y29pbi1pcy1oZWFkZWQtdG93YXJkLWl0cy13b3JzdC1tb250aC1zaW5jZS0yMDExLXJpY2gtZGFkLXBvb3ItZGFkLWF1dGhvci1zYXlzLXRoYXRzLWdyZWF0LW5ld3MtMTE2MjI0MTY0ODXSAZQBaHR0cHM6Ly93d3cubWFya2V0d2F0Y2guY29tL2FtcC9zdG9yeS9iaXRjb2luLWlzLWhlYWRlZC10b3dhcmQtaXRzLXdvcnN0LW1vbnRoLXNpbmNlLTIwMTEtcmljaC1kYWQtcG9vci1kYWQtYXV0aG9yLXNheXMtdGhhdHMtZ3JlYXQtbmV3cy0xMTYyMjQxNjQ4NQ?oc=5
Sun, 30 May 2021 23:14:00 GMT
------------------------------------------------------------
Intel Beefs Up 11th-Gen Laptop Processors With Better Graphics and Faster Wifi - Gizmodo
https://news.google.com/__i/rss/rd/articles/CBMiVmh0dHBzOi8vZ2l6bW9kby5jb20vaW50ZWwtYmVlZnMtdXAtMTF0aC1nZW4tbGFwdG9wLXByb2Nlc3NvcnMtd2l0aC1iZXR0ZXItZy0xODQ2OTg1NjM50gFaaHR0cHM6Ly9naXptb2RvLmNvbS9pbnRlbC1iZWVmcy11cC0xMXRoLWdlbi1sYXB0b3AtcHJvY2Vzc29ycy13aXRoLWJldHRlci1nLTE4NDY5ODU2MzkvYW1w?oc=5
Mon, 31 May 2021 02:30:00 GMT
------------------------------------------------------------
Xiaomi says it can now fully charge a phone in eight minutes at 200W - The Verge
https://news.google.com/__i/rss/rd/articles/CBMiZmh0dHBzOi8vd3d3LnRoZXZlcmdlLmNvbS8yMDIxLzUvMzAvMjI0NjE0MzUveGlhb21pLWZhc3QtY2hhcmdpbmctd29ybGQtcmVjb3JkLTIwMHctd2lyZWQtMTIwdy13aXJlbGVzc9IBc2h0dHBzOi8vd3d3LnRoZXZlcmdlLmNvbS9wbGF0Zm9ybS9hbXAvMjAyMS81LzMwLzIyNDYxNDM1L3hpYW9taS1mYXN0LWNoYXJnaW5nLXdvcmxkLXJlY29yZC0yMDB3LXdpcmVkLTEyMHctd2lyZWxlc3M?oc=5
Mon, 31 May 2021 03:53:32 GMT
------------------------------------------------------------
Report: Google once made it more difficult for Android users to keep their location private - 9to5Google
https://news.google.com/__i/rss/rd/articles/CBMiSWh0dHBzOi8vOXRvNWdvb2dsZS5jb20vMjAyMS8wNS8zMC9nb29nbGUtbG9jYXRpb24tcHJpdmFjeS1sYXdzdWl0LXJlcG9ydC_SAU1odHRwczovLzl0bzVnb29nbGUuY29tLzIwMjEvMDUvMzAvZ29vZ2xlLWxvY2F0aW9uLXByaXZhY3ktbGF3c3VpdC1yZXBvcnQvYW1wLw?oc=5
Sun, 30 May 2021 16:51:00 GMT
------------------------------------------------------------
Sony WF-1000XM4 video just confirmed all the biggest upgrades - Tom's Guide
https://news.google.com/__i/rss/rd/articles/CBMiXGh0dHBzOi8vd3d3LnRvbXNndWlkZS5jb20vbmV3cy9zb255LXdmLTEwMDB4bTQtdmlkZW8tanVzdC1jb25maXJtZWQtYWxsLXRoZS1iaWdnZXN0LXVwZ3JhZGVz0gFgaHR0cHM6Ly93d3cudG9tc2d1aWRlLmNvbS9hbXAvbmV3cy9zb255LXdmLTEwMDB4bTQtdmlkZW8tanVzdC1jb25maXJtZWQtYWxsLXRoZS1iaWdnZXN0LXVwZ3JhZGVz?oc=5
Sun, 30 May 2021 18:37:39 GMT
------------------------------------------------------------
'Mare of Easttown' Finale's Julianne Nicholson Breaks Down the Tragic Twist - Daily Beast
https://news.google.com/__i/rss/rd/articles/CBMiZmh0dHBzOi8vd3d3LnRoZWRhaWx5YmVhc3QuY29tL21hcmUtb2YtZWFzdHRvd24tZmluYWxlcy1qdWxpYW5uZS1uaWNob2xzb24tYnJlYWtzLWRvd24tdGhlLXRyYWdpYy10d2lzdNIBAA?oc=5
Mon, 31 May 2021 03:07:40 GMT
------------------------------------------------------------
The Opening Weekend for ‘A Quiet Place Part II’ Will Best Entire Box Office of ‘Tenet’ - IndieWire
https://news.google.com/__i/rss/rd/articles/CBMibGh0dHBzOi8vd3d3LmluZGlld2lyZS5jb20vMjAyMS8wNS9vcGVuaW5nLXdlZWtlbmQtYS1xdWlldC1wbGFjZS0yLWJldHRlci1lbnRpcmUtYm94LW9mZmljZS10ZW5ldC0xMjM0NjQxMTcwL9IBcGh0dHBzOi8vd3d3LmluZGlld2lyZS5jb20vMjAyMS8wNS9vcGVuaW5nLXdlZWtlbmQtYS1xdWlldC1wbGFjZS0yLWJldHRlci1lbnRpcmUtYm94LW9mZmljZS10ZW5ldC0xMjM0NjQxMTcwL2FtcC8?oc=5
Sun, 30 May 2021 19:14:00 GMT
------------------------------------------------------------
Timbaland & Swizz Beatz’ VERZUZ Rematch: Here’s What Happened - Pitchfork
https://news.google.com/__i/rss/rd/articles/CBMiWGh0dHBzOi8vcGl0Y2hmb3JrLmNvbS9uZXdzL3RpbWJhbGFuZC1hbmQtc3dpenotYmVhdHotdmVyenV6LXJlbWF0Y2gtaGVyZXMtd2hhdC1oYXBwZW5lZC_SAVxodHRwczovL3BpdGNoZm9yay5jb20vbmV3cy90aW1iYWxhbmQtYW5kLXN3aXp6LWJlYXR6LXZlcnp1ei1yZW1hdGNoLWhlcmVzLXdoYXQtaGFwcGVuZWQvYW1wLw?oc=5
Mon, 31 May 2021 02:26:09 GMT
------------------------------------------------------------
Olivia Rodrigo Tops Music Charts in Explosive First Week With ‘Sour’ - The Wall Street Journal
https://news.google.com/__i/rss/rd/articles/CBMia2h0dHBzOi8vd3d3Lndzai5jb20vYXJ0aWNsZXMvb2xpdmlhLXJvZHJpZ28tdG9wcy1tdXNpYy1jaGFydHMtaW4tZXhwbG9zaXZlLWZpcnN0LXdlZWstd2l0aC1zb3VyLTExNjIyNDE2ODY40gEA?oc=5
Sun, 30 May 2021 23:21:00 GMT
------------------------------------------------------------
Lakers vs. Suns: LeBron James on carrying the load if Anthony Davis misses time: 'I'm ready for the challenge' - CBS Sports
https://news.google.com/__i/rss/rd/articles/CBMijAFodHRwczovL3d3dy5jYnNzcG9ydHMuY29tL25iYS9uZXdzL2xha2Vycy12cy1zdW5zLWxlYnJvbi1qYW1lcy1vbi1jYXJyeWluZy10aGUtbG9hZC1pZi1hbnRob255LWRhdmlzLW1pc3Nlcy10aW1lLWltLXJlYWR5LWZvci10aGUtY2hhbGxlbmdlL9IBkAFodHRwczovL3d3dy5jYnNzcG9ydHMuY29tL25iYS9uZXdzL2xha2Vycy12cy1zdW5zLWxlYnJvbi1qYW1lcy1vbi1jYXJyeWluZy10aGUtbG9hZC1pZi1hbnRob255LWRhdmlzLW1pc3Nlcy10aW1lLWltLXJlYWR5LWZvci10aGUtY2hhbGxlbmdlL2FtcC8?oc=5
Mon, 31 May 2021 00:52:00 GMT
------------------------------------------------------------
Kawhi Leonard (29 PTS, 10 REB) Registers Double-Double in Win vs. Dallas Mavericks | LA Clippers - LA Clippers
https://news.google.com/__i/rss/rd/articles/CBMiK2h0dHBzOi8vd3d3LnlvdXR1YmUuY29tL3dhdGNoP3Y9eDdtNmI1aTBwVjDSAQA?oc=5
Mon, 31 May 2021 06:46:35 GMT
------------------------------------------------------------
Celtics Fan Arrested After Kyrie Irving Is Nearly Hit by Bottle - The New York Times
https://news.google.com/__i/rss/rd/articles/CBMiYWh0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMjEvMDUvMzAvc3BvcnRzL2Jhc2tldGJhbGwvbmV0cy1ib3N0b24tY2VsdGljcy1reXJpZS1pcnZpbmctYm90dGxlLmh0bWzSAWVodHRwczovL3d3dy5ueXRpbWVzLmNvbS8yMDIxLzA1LzMwL3Nwb3J0cy9iYXNrZXRiYWxsL25ldHMtYm9zdG9uLWNlbHRpY3Mta3lyaWUtaXJ2aW5nLWJvdHRsZS5hbXAuaHRtbA?oc=5
Mon, 31 May 2021 03:33:26 GMT
------------------------------------------------------------
Kyle Larson gives Hendrick Motorsports record-breaking win at Coca-Cola 600 - ESPN
https://news.google.com/__i/rss/rd/articles/CBMigwFodHRwczovL3d3dy5lc3BuLmNvbS9yYWNpbmcvbmFzY2FyL2N1cC9zdG9yeS9fL2lkLzMxNTQwMzkwL2t5bGUtbGFyc29uLWdpdmVzLWhlbmRyaWNrLW1vdG9yc3BvcnRzLXJlY29yZC1icmVha2luZy13aW4tY29jYS1jb2xhLTYwMNIBkAFodHRwczovL3d3dy5lc3BuLmNvbS9yYWNpbmcvbmFzY2FyL2N1cC9zdG9yeS9fL2lkLzMxNTQwMzkwL2t5bGUtbGFyc29uLWdpdmVzLWhlbmRyaWNrLW1vdG9yc3BvcnRzLXJlY29yZC1icmVha2luZy13aW4tY29jYS1jb2xhLTYwMD9wbGF0Zm9ybT1hbXA?oc=5
Mon, 31 May 2021 04:38:53 GMT
------------------------------------------------------------
NASA’s Curiosity Rover Shows Us What Cloudy and Colorful Days on Mars Look Like - Gizmodo
https://news.google.com/__i/rss/rd/articles/CBMiVmh0dHBzOi8vZ2l6bW9kby5jb20vbmFzYS1zLWN1cmlvc2l0eS1yb3Zlci1zaG93cy11cy13aGF0LWNsb3VkeS1hbmQtY29sb3JmdS0xODQ3MDAxMTYz0gFaaHR0cHM6Ly9naXptb2RvLmNvbS9uYXNhLXMtY3VyaW9zaXR5LXJvdmVyLXNob3dzLXVzLXdoYXQtY2xvdWR5LWFuZC1jb2xvcmZ1LTE4NDcwMDExNjMvYW1w?oc=5
Sun, 30 May 2021 19:39:57 GMT
------------------------------------------------------------
The best dark matter map to date raises questions about the universe - Engadget
https://news.google.com/__i/rss/rd/articles/CBMiN2h0dHBzOi8vd3d3LmVuZ2FkZ2V0LmNvbS9kYXJrLW1hdHRlci1tYXAtMjEyOTUxOTE5Lmh0bWzSATtodHRwczovL3d3dy5lbmdhZGdldC5jb20vYW1wL2RhcmstbWF0dGVyLW1hcC0yMTI5NTE5MTkuaHRtbA?oc=5
Sun, 30 May 2021 21:30:52 GMT
------------------------------------------------------------
Space Debris Has Hit And Damaged The International Space Station - ScienceAlert
https://news.google.com/__i/rss/rd/articles/CBMiVWh0dHBzOi8vd3d3LnNjaWVuY2VhbGVydC5jb20vc3BhY2UtZGVicmlzLWhhcy1kYW1hZ2VkLXRoZS1pbnRlcm5hdGlvbmFsLXNwYWNlLXN0YXRpb27SAVlodHRwczovL3d3dy5zY2llbmNlYWxlcnQuY29tL3NwYWNlLWRlYnJpcy1oYXMtZGFtYWdlZC10aGUtaW50ZXJuYXRpb25hbC1zcGFjZS1zdGF0aW9uL2FtcA?oc=5
Mon, 31 May 2021 02:43:25 GMT
------------------------------------------------------------
How to photograph solar eclipse from North America and Europe this June - Digital Camera World
https://news.google.com/__i/rss/rd/articles/CBMidGh0dHBzOi8vd3d3LmRpZ2l0YWxjYW1lcmF3b3JsZC5jb20vdHV0b3JpYWxzL2hvdy10by1waG90b2dyYXBoLXNvbGFyLWVjbGlwc2UtZnJvbS1ub3J0aC1hbWVyaWNhLWFuZC1ldXJvcGUtdGhpcy1qdW5l0gF4aHR0cHM6Ly93d3cuZGlnaXRhbGNhbWVyYXdvcmxkLmNvbS9hbXAvdHV0b3JpYWxzL2hvdy10by1waG90b2dyYXBoLXNvbGFyLWVjbGlwc2UtZnJvbS1ub3J0aC1hbWVyaWNhLWFuZC1ldXJvcGUtdGhpcy1qdW5l?oc=5
Sun, 30 May 2021 11:39:44 GMT
------------------------------------------------------------
Can people vaccinated against COVID-19 still spread the virus? What we know so far - WJW FOX 8 News Cleveland
https://news.google.com/__i/rss/rd/articles/CBMidGh0dHBzOi8vZm94OC5jb20vbmV3cy9jb3JvbmF2aXJ1cy9jYW4tcGVvcGxlLXZhY2NpbmF0ZWQtYWdhaW5zdC1jb3ZpZC0xOS1zdGlsbC1zcHJlYWQtdGhlLXZpcnVzLXdoYXQtd2Uta25vdy1zby1mYXIv0gF4aHR0cHM6Ly9mb3g4LmNvbS9uZXdzL2Nvcm9uYXZpcnVzL2Nhbi1wZW9wbGUtdmFjY2luYXRlZC1hZ2FpbnN0LWNvdmlkLTE5LXN0aWxsLXNwcmVhZC10aGUtdmlydXMtd2hhdC13ZS1rbm93LXNvLWZhci9hbXAv?oc=5
Mon, 31 May 2021 01:29:01 GMT
------------------------------------------------------------
Coronavirus in Oregon: State reports 257 new cases, 2 deaths - OregonLive
https://news.google.com/__i/rss/rd/articles/CBMibmh0dHBzOi8vd3d3Lm9yZWdvbmxpdmUuY29tL2Nvcm9uYXZpcnVzLzIwMjEvMDUvY29yb25hdmlydXMtaW4tb3JlZ29uLXN0YXRlLXJlcG9ydHMtMjU3LW5ldy1jYXNlcy0yLWRlYXRocy5odG1s0gF9aHR0cHM6Ly93d3cub3JlZ29ubGl2ZS5jb20vY29yb25hdmlydXMvMjAyMS8wNS9jb3JvbmF2aXJ1cy1pbi1vcmVnb24tc3RhdGUtcmVwb3J0cy0yNTctbmV3LWNhc2VzLTItZGVhdGhzLmh0bWw_b3V0cHV0VHlwZT1hbXA?oc=5
Sun, 30 May 2021 22:43:02 GMT
------------------------------------------------------------
Australia's Victoria COVID-19 cluster swells to 51, next few days 'critical' - Reuters
https://news.google.com/__i/rss/rd/articles/CBMid2h0dHBzOi8vd3d3LnJldXRlcnMuY29tL3dvcmxkL2FzaWEtcGFjaWZpYy9hdXN0cmFsaWFzLXZpY3RvcmlhLXN0YXRlLXJlcG9ydHMtNS1uZXctY29tbXVuaXR5LWNvdmlkLTE5LWNhc2VzLTIwMjEtMDUtMzAv0gEA?oc=5
Mon, 31 May 2021 06:02:00 GMT
------------------------------------------------------------
Illinois COVID Update Today: IL reports 602 cases, 18 deaths - WLS-TV
https://news.google.com/__i/rss/rd/articles/CBMiYGh0dHBzOi8vYWJjN2NoaWNhZ28uY29tL2lsbGlub2lzLWNvdmlkLXVwZGF0ZS10b2RheS1jb3ZpZC0xOS1jb3JvbmF2aXJ1cy11cGRhdGVzLWNhc2VzLzEwNzE4NDc4L9IBZGh0dHBzOi8vYWJjN2NoaWNhZ28uY29tL2FtcC9pbGxpbm9pcy1jb3ZpZC11cGRhdGUtdG9kYXktY292aWQtMTktY29yb25hdmlydXMtdXBkYXRlcy1jYXNlcy8xMDcxODQ3OC8?oc=5
Sun, 30 May 2021 17:50:25 GMT
------------------------------------------------------------

In [83]:
def permute(nums):
    result_perms=[[]]
    for n in nums:
        new_perms=[]
        for perm in result_perms:
            for i in range(len(perm)+1):
                new_perms.append(perm[:i]+[n]+perm[i:])
                result_perms=new_perms
    return result_perms
my_nums=[1,2,3]
print("Original Cofllection:",my_nums)
print("Collection of distinct numbers:\n",permute(my_nums))

Original Cofllection: [1, 2, 3]
Collection of distinct numbers:
 [[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]

In [84]:
def string_length(str):
    count=0
    for char in str:
        count+= 1
    return count
print(string_length('w3school.com'))

12

In [85]:
def char_frequency(str):
    dict={}
    for n in str:
        keys=dict.keys()
        if n in keys:
            dict[n]+=1
        else:
            dict[n]=1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [86]:
def string_both_ends(str):
    if(len(str))<2:
        return ''
    return str[0:2]+str[-2:]
print(string_both_ends('w3resource'))
print(string_both_ends('chanto'))

w3ce
chto

In [87]:
def change_char(str):
    char=str[0]
    str=str.replace(char,'$')
    str=char+str[1:]
    
    return str
print(change_char('restart'))

resta$t

In [88]:
def chars_mix_up(a,b):
    new_a=b[:2]+a[2:]
    new_b=a[:2]+b[2:]
    return new_a+'\n'+new_b
print(chars_mix_up('abc','xyz'))

xyc
abz

In [89]:
def not_poor(str1):
    snot=str1.find('not')
    spoor=str1.find('poor')
    
    if spoor > snot and snot>0 and spoor>0:
        str1=str1.replace(str1[snot:(spoor+4)], 'good')
        return str1
    else:
        return str1
print(not_poor('The lyrics is not that poor!'))
print(not_poor('The lyrics is poor!'))

The lyrics is good!
The lyrics is poor!

In [90]:
def find_longest_word(words_list):
    word_len= []
    for n in words_list:
        word_len.append((len(n),n))
    word_len.sort()
    return word_len[-1][0],word_len[-1][1]

result=find_longest_word(["PHP","Exercises","Backend"])
print("\n Longest word:",result[1])
print("length of the longest word:",result[0])

 Longest word: Exercises
length of the longest word: 9

In [91]:
a=range(10)

print(type(a))

<class 'range'>

In [92]:
import numpy as np
b_1=np.zeros((2,3))
b_1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [93]:
# with np.ones

b_2=np.ones(5)
b_2

array([1., 1., 1., 1., 1.])

In [94]:
b_3=np.empty(5)
b_3.fill(5)
b_3

array([5., 5., 5., 5., 5.])

In [95]:
b_4=np.full(5,5)

In [96]:
x=np.array([[1,2,3],[2,3,4],[4,5,6]])
x

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [97]:
a=np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [98]:
x=np.array([1,2,3,4])
y=np.array([1,2,3,4])
a=x+y
print(a)

[2 4 6 8]

In [99]:
#Exercise 1: create two array per mothod

x=np.array([[1,2,3],[2,3,4],[4,5,6]])
y=np.array([[2,2,6],[5,6,1],[8,3,4]])
z=x+y
z

array([[ 3,  4,  9],
       [ 7,  9,  5],
       [12,  8, 10]])

In [101]:
np.fromfunction(lambda i, j: i == j, (4, 3), dtype=int)

TypeError: Cannot interpret '3.5' as a data type

In [100]:
g = lambda m, n: n + 10 * m
g_0 =  np.fromfunction(g, (5, 6), dtype=int) # numpy.fromfunction(function, shape, **kwargs)
g_0

TypeError: Cannot interpret '3.5' as a data type

In [ ]:
g_0[:4,2:4]

In [ ]:
g_0[1:4,1:5]

In [ ]:
x=np.array([1,2,3,4])
y=np.array([1,3,5,6,8])
x,y=np.meshgrid(x,y)
x

In [ ]:
y

In [ ]:
from array import *
array_num=array('i',[1,3,5,7,9])
for i in array_num:
    print(i)
print("Access first three itmes individually")
print(array_num[0])
print(array_num[1])
print(array_num[2])

In [ ]:
from array import *
array_num=array('i',[1,3,5,7,9])
print("Original array:"+str(array_num))
print("Append 11 at the end of array:")
array_num.append(11)
print("New array:"+str(array_num))

In [ ]:
from array import *

array_num=array('i',[1,3,5,7,9])
print("original array:"+str(array_num))
print("Length in bytes of one array item:"+str())

In [ ]:
A=np.arange(15)
A

In [ ]:
A[0]

In [ ]:
B=g_0[1:5,1:5]
B

In [ ]:
B[:,:]=0
g_0

In [ ]:
c=B[1:3,1:3]
c

In [ ]:
c[:,:]=0
g_0

In [ ]:
B

In [ ]:
from array import *
array_num=array('i',[1,3,7,5,9])
print("Original array:"+str(array_num))
print("Remove the third item from the arrays:")
array_num.pop(2)
print("New array:"+str(array_num))

In [ ]:
f=np.arange(15)
f

In [ ]:
g=f.reshape(3,5)
print(g)

In [ ]:
h=np.arange(120)
h

In [109]:
h=h.reshape(3,40)
print(h)

NameError: name 'h' is not defined

In [110]:
import numpy as np

In [111]:
x=[1,2,3,99,99,3,2,1]
x1,x2,x3=np.split(x,[3,5])
print(x1,x2,x3)

[1 2 3] [99 99] [3 2 1]

In [108]:
upper, lower =np.vsplit(grid,[3])
print(upper)
print(lower)

NameError: name 'grid' is not defined

In [3]:
a = {1,2,6,8}
b = {2,3,5,8}
print((a) - (b))

{1, 6}

In [8]:
import numpy as np
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)
print(a[0])
print(a[:1])
print(a[1:1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[1 2 3]
[[1 2 3]]
[]

In [10]:
a=np.array([[1,2,3],[4,5,6]])
print(a)
b=np.array([[3,4,5],[5,6,7]])
print(b)
print(np.concatenate([a,b],axis=0))
print(np.concatenate([a,b],axis=1))

[[1 2 3]
 [4 5 6]]
[[3 4 5]
 [5 6 7]]
[[1 2 3]
 [4 5 6]
 [3 4 5]
 [5 6 7]]
[[1 2 3 3 4 5]
 [4 5 6 5 6 7]]

In [ ]:
print(np.stack(a,b))